body {
    background-color: #004d33;
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

form {
    background-color: #e6ffee;
    padding: 30px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 30px;
}